 * {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box; 
   max-width: auto; 
}

:root {
  --text-shadow: 1px 1px 0 #fff,
  -1px 1px 0 #fff,
  1px -1px 0 #fff,
  -1px -1px 0 #fff,
  0px 1px 0 #fff,
  0px -1px 0 #fff,
  -1px 0px 0 #fff,
  1px 0px 0 #fff,
  2px 2px 0 #fff,
  -2px 2px 0 #fff,
  2px -2px 0 #fff,
  -2px -2px 0 #fff,
  0px 2px 0 #fff,
  0px -2px 0 #fff,
  -2px 0px 0 #fff,
  2px 0px 0 #fff,
  1px 2px 0 #fff,
  -1px 2px 0 #fff,
  1px -2px 0 #fff,
  -1px -2px 0 #fff,
  2px 1px 0 #fff,
  -2px 1px 0 #fff,
  2px -1px 0 #fff,
  -2px -1px 0 #fff;
}

.wrapper {
  /* margin: 0 auto; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  background-image: url(./img/popcorn.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/*NAV*/

.navbar {
  font-size: 16px;
  margin-bottom: 25px;
  width: 100%;
}
.navbar nav{
  width: 100%;
  height: 50px;
  background-color: #eeeeee;
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 5px 50px 5px 50px;
}

.navbar nav div{
  display: flex;
  flex-direction: row;
}

ul{
  display: flex;
  flex-direction: row;
  margin-left: 40px;

}

ul li {
  width: 80px;
  height: 35px; 
}

li{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7f69a5;
  border-radius: 5px;
  margin: 1px;
}

li a {
  color: #ffffff;
  font-weight: 600;
}

#img__nav{
  width: 30px;
  height: 30px;
}

/*MAIN*/
section{
  display: flex;
  flex-direction: row;
}

  /*title*/
h1{
  font-size: 80px;
  font-family:sans-serif;
  color:#EB5459;
  padding: 10px;
  text-shadow: var(--text-shadow);
  margin-bottom: 10px;
}

  /*search*/
.group-search{
  padding: 10px;
}

#movie-title{
  width: 600px;
  height: 30px;
  border: 0px;
  border-radius: 5px;
  border: 1px solid #EB5459;
}

#search-button {
  background-color: #EB5459;
  width:80px;
  height: 30px;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-weight: 600;
  color: #ffffff;
  cursor: pointer;
 }

 .containerFather {
  padding: 5px;
  border-radius: 3px;
  border: 1px solid transparent;
  height: 100%;
  width: 1200px;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container p{
color: #ffffff;
font-size: 18px;
}

.search-results{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.all-movie{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

  /*card*/

.card-movie{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height:400px ;
  background-color: rgba(192, 192, 192, 0.5);
  text-align: center;
  color: #CCA43B;
  margin: 10px;
  border-radius: 10px;
  padding: 5px;
}  

.movieTitle{
  font-size: 16px;
font-weight: 600;
width: 200px;
height: 40px;
padding: 5px;
margin: 5px;
color:#7f69a5 ;
text-shadow: var(--text-shadow);
}

.imgMovie{
  padding: 5px;
  margin: 10px;
  width: 200px;
  height: 250px;
}

.img{
  padding: 5px;
  margin: 10px;
  width: 200px;
  height: 250px;
}

.aditional-information{
  display: flex;
  flex-direction: row-reverse;
}

.aditional-information span{
  width: 10px;
}

.aditional-information div{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.aditional-information div span{
  width: 10px;
  height: 10px;
  background-color: #CCA43B;
  border-radius: 50%;
}

.add{
  width: 80px;
  height: 30px;
 background-color:  #EB5459;
 border: none;
 border-radius: 5px;
 color: #ffffff;
 font-weight: 600;
 margin-top:10px ;
 cursor: pointer;
}

.car{
  margin-top: 10px;
  width: 250px;
  height: auto;
  background-color: azure;
  padding: 10px;
}

.car div{
  display: flex;
 flex-direction: row;
 justify-content: space-around;
 align-items: center;
}

h2{
  font-size: 16px;
}

.list-movie-car{
  display: flex;
  flex-direction: column;


}

.list-movie-car div{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.trash{
  width: 20px;
  height: 20px;
}
#style-list{
  height: 30px;
  width: 150px;
  background-color: #EB5459;

}
/* TABLET*/

@media only  screen and (max-width: 990px)  {
  .wrapper {
    background-image: url(./img/joker.jpg);
  }
  
  
  
  .navbar {
    font-size: 12px;
  }
  .navbar nav{
    padding: 5px 50px 5px 5px;
  }
  
  ul{
    margin-left: 10px;
    margin-right: 10px;
  }

  #img__nav{
    margin-left: 10px;
    margin-right: 10px;
  }
  
  
  h1{
    font-size: 30px;
    margin-bottom: 10px;
  }
  
  .group-search{
    padding: 10px;
  }
  
  #movie-title{
    width: 300px;
  }
    
  .containerFather {
    width: auto;
  }

  .search-results{
    display: flex;
    flex-wrap: wrap;
  }
  
  .all-movie{
    display: flex;
    flex-wrap: wrap;

  }
  
  
  .card-movie{
    width: 150px;
    height:250px ;
    margin-bottom: 15px;
    background-color: rgba(192, 192, 192, 0.5);
  }  
  
  .movieTitle{
    font-size: 12px;
    width: 120px;
    height: 50px;
    margin-bottom: 5px;
  }
  
  .imgMovie{
    width: 80px;
    height: 120px;
    margin: 0px;
  }
  
  .img{
    width: 80px;
    height: 120px;
    margin: 0px;
  }
  
    
  .aditional-information div span{
    width: 5px;
    height: 5px;
  }

  .aditional-information div {
   width: 50px;
  }

  .aditional-information div p{
    margin-top: 10px;
    font-size: 9px;
  }
  
  .add{
    width: 80px;
    height: 30px;
   background-color:  #EB5459;
   border: none;
   border-radius: 5px;
   color: #ffffff;
   font-weight: 600;
   margin-top:10px ;
   cursor: pointer;
  }

  section{
    display: flex;
   flex-direction: column-reverse;
   align-items: center;
   justify-content: center;
  
  }
}

/*MOBILE*/
@media only screen and (max-width: 400px) {
  .wrapper {
    background-image: url(./img/cine.jpg);
  }
  
  /*NAV*/
  
  .navbar {
    font-size: 12px;
  }
  .navbar nav{
    padding: 5px 50px 5px 5px;
  }
  
  ul{
    margin-left: 10px;
    margin-right: 10px;
  }

  #img__nav{
    margin-left: 10px;
    margin-right: 10px;
  }
  
  
  /*MAIN*/
  
    /*title*/
  h1{
    font-size: 30px;
    margin-bottom: 10px;
  }
  
  .group-search{
    padding: 10px;
  }
  
  #movie-title{
    width: 200px;
  }
    
  .containerFather {
    width: 400px;
  }

  .search-results{
    display: flex;
    flex-direction: column;
  }
  
  .all-movie{
    display: flex;
    flex-direction: column;

  }
  
    /*card*/
  .card-movie{
    width: 250px;
    height:320px ;
    margin-bottom: 15px;
    background-color: rgba(192, 192, 192, 1);
    opacity: 0.8;
  }  
  
  .movieTitle{
    font-size: 18px;
    width: 300px;
    height: 50px;
    margin-bottom: 5px;
  }
  
  .imgMovie{
    width: 150px;
    height: 200px;
    margin: 0px;
  }
  
  .img{
    width: 150px;
    height: 200px;
    margin: 0px;
  }
  
  .aditional-information{
    display: none;
  }

  
  
}







